.container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.container2 {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
}

.radiobtn {
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
    font-family: 'Quicksand', sans-serif;
}


.selfcare {
    width: 1000px;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    margin-top: -900px;
}

.message {
    width: 1000px;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    margin-top: -525px;
}

.messages {
    background: white;
    height: 100px;
    width: 700px;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    margin-top: -350px;
    margin-left: 150px;
    border-radius: 15px
}

.mantra {
    background: white;
    height: 110px;
    width: 1000px;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    margin-top: -50px;
    border-radius: 15px;
}

#mantra-text {
    justify-content: center;
    text-align: center;
    margin-top: -75px;
    font-family: 'Quicksand', sans-serif;
}

button {
    width: 250px;
    font-size: 25px;
    padding: 5px;
    background-color: #134d71;
    border-radius: 15px;
    margin-top: 40px;
}

.radio-inline {
    font-family: 'Quicksand', sans-serif;
    margin-left: 50px;
}

.radio-margin {
    margin-left: 350px;
}

body {
    display: flex;
    margin: 550px;
    background: linear-gradient(180deg, rgba(120,167,198,1) 0%, rgba(19,77,113,1) 0%, rgba(247,228,191,1) 100%);
}

h1,
h2,
button,
input {
    color: white;
    font-family: 'Quicksand', sans-serif;
}